/* 
    button-start
*/


.lt-offcanvas-btn-1 {
    padding: 0;
    display: inline-flex;
    font-size: 24px;
    background: transparent;
    color: #fff;
    transition: .5s var(--lt-cube-1);

    &:hover {
        color: var(--lt-clr-pr-1);
        transform: scale(1.1);
    }
}

@keyframes lt-pr-btn-1-icon {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    45% {
        transform: translateX(130%);
        opacity: 0;
    }

    55% {
        transform: translateX(-130%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.lt-pr-btn-1 {
    font-family: var(--lt-font-1);
    color: #fff;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 700;
    display: inline-flex;

    .text,
    .icon {
        position: relative;
        z-index: 1;
        overflow: hidden;
        background-color: var(--lt-clr-pr-1);
        border-radius: 10px;
        border-top: 2px solid rgb(255 255 255 / 40%);
        border-bottom: 2px solid rgb(255 255 255 / 40%);

        /* hover-fill sliding in from the left */
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            background-color: var(--lt-clr-sd-1);
            transform: translateX(-101%);
            transition: transform .5s var(--lt-cube-1);
        }
    }

    .text {
        padding: 14px 23px;
        flex: 0 0 auto;
    }

    .icon {
        font-size: 29px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 56px;

        i {
            display: inline-flex;
        }
    }

    &:hover {
        color: #fff;
        .text,
        .icon {
            &::before {
                transform: translateX(0);
            }
        }

        .icon {
            i {
                animation: lt-pr-btn-1-icon .6s var(--lt-cube-1);
            }
        }
    }

    &:is(.has-v2) {
        .text,
        .icon {
            background-color: var(--lt-clr-sd-1);

            &::before {
                background-color: var(--lt-clr-pr-1);
            }
        }
    }
}


.lt-search-btn-1 {
    font-family: var(--lt-font-1);
    color: rgb(255 255 255 / 40%);
    background: transparent;
    padding: 0;
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    gap: 8px;
    transition: .5s var(--lt-cube-1);
    i {
        color: #fff;
        font-size: 24px;
        transition: .5s var(--lt-cube-1);
    }


    &:hover {
        color: var(--lt-clr-pr-1);
        transform: scale(1.1);

        i {
            color: var(--lt-clr-pr-1);
        }
    }
}


/* 
    button-end
*/