/* 
    faqs-2-start
*/
.lt-faqs-2 {
    &-area.wa-p-relative.wa-fix.pt-130.pb-130 {
        background-color: #F3F3F6;
    }
    &-bg-shape-1 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 20%;
        height: 100%;

        @media #{$xs} {
            display: none;
        }

        path , rect {
            transform-origin: center;
        }
    }
    &-bg-shape-2 {
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        width: 20%;
        height: 100%;

        @media #{$xs} {
            display: none;
        }

    }

    &-wrap {
        .lt-accordion {
            max-width: 950px;
            gap: 6px;
            display: flex;
            flex-direction: column;
            
            &-item {
                background-color: #fff;
                border: 1px solid rgb(10 31 67 / 20%);
                border-radius: 12px;

                .item-title {
                    font-size: 20px;
                    gap: 14px;
                    padding: 22px 20px;


                    .icon {
                        width: 28px;
                        height: 28px;
                        background: #ECECF5;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 14px;
                        border-radius: 4px;
                    }

                    &:is(:not(.collapsed)) {
                        color: #fff;
                        
                        .icon {
                            background-color: var(--lt-clr-pr-1);
                        }
                    }
                }

                .item-disc {
                    padding: 22px 0px;
                    border-top: 1px solid rgb(255 255 255 / 20%);
                    margin: 0 25px;
                    color: #fff;
                }

                &:is(.active) {
                    background-color: var(--lt-clr-sd-1);
                }
            }
        }
    }
}

/* 
    faqs-2-end
*/

